<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <input id="campoRecibeJsonGantt" type="hidden" value="{json}">
    <input id="escalaGantt" type="hidden" value="">
    <input id="escalaDefault" type="hidden" value="{escalaDefault}">
    <input id="escalaMinima" type="hidden" value="{escalaMinima}">
    <input id="escalaMaxima" type="hidden" value="{escalaMaxima}">

    <div id="contenedorGantt" class="gantt"></div>
    <!--
    <button id="crearimagen" type="button" class="btn btn-default col-md-3">Genera Imagen</button>
    <br>
    <div id="imagenGenerada"></div>-->

    <!-- Inicio Modal Elemento-->
    <div class="modal fade" id="modalTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detalle Tarea</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <td><strong>Tarea</strong></td>
                            <td id="celdaTarea"></td>
                        </tr>
                        <tr>
                            <td><strong>Descripción</strong></td>
                            <td id="celdaDescripcion"></td>
                        </tr>
                        <tr>
                            <td><strong>Fecha inicio</strong></td>
                            <td id="celdaFechaIn"></td>
                        </tr>
                        <tr>
                            <td><strong>Fecha Término</strong></td>
                            <td id="celdaFechaTer"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal Elemento-->
</div>