.gantt {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    /*padding: 0 0 50px 0;*/
}

/* Bootstrap 3.x re-reset */

.fn-gantt *,
.fn-gantt *:after,
.fn-gantt *:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bordeTabla {
    text-align: right;
    padding-right: 3px;
}
