{namespace gantt = CeisUfro\GanttCeis\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="gantt" options="{group: 'CEIS'}" label="Carta Gantt" description="Extension que genera una carta gantt a partir de una planificacion en formato json">
			<flux:field.input name="enlace" label="ingrese link del servicio a los datos"></flux:field.input>
			<flux:field.select name="escalaDefault" label="Ingrese la escala por defecto" items="Horas,Dias,Semanas,Meses" default="Semanas"></flux:field.select>
			<flux:field.select name="escalaMinima" label="Ingrese la escala mínima" items="Horas,Dias,Semanas,Meses" default="Dias"></flux:field.select>
			<flux:field.select name="escalaMaxima" label="Ingrese la escala máxima" items="Horas,Dias,Semanas,Meses" default="Semanas"></flux:field.select>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<gantt:GanttCeis enlace="{enlace}" escalaDefault="{escalaDefault}" escalaMinima="{escalaMinima}" escalaMaxima="{escalaMaxima}"/>
	</f:section>
</div>
